<body class="bg-malla">
</body>

<div id="login-container">

  <div id="login-content">
    <h1 id="login-title">Log In!</h1>
    <br />

    <form action="/auth/login" method="POST">

      <label for="username">Username</label>
      <br />
      <input class="form-input" type="text" name="username" />

      <br /><br />

      <label for="password">Password</label>
      <br />
      <input class="form-input" type="password" name="password" />

      <br /><br /><br />

      <button class="send-button">Log In</button>

      <br />

      <span id="login-error">{{errorMessage}}</span>

    </form>
  </div>

</div>