<body class="bg-malla">
</body>

<div id="signup-container">

  <div id="signup-content">
    <h1 id="signup-title">Sign Up Here!</h1>
    <br />

    <form action="/auth/signup" method="POST">

      <label for="username">Username</label>
      <br />
      <input class="form-input" type="text" name="username" />

      <br /><br />

      <label for="email">Email</label>
      <br />
      <input class="form-input" type="email" name="email" />

      <br /><br />

      <label for="password">Password</label>
      <br />
      <input class="form-input" type="password" name="password" />

      <br /><br /><br />

      <button class="send-button">Sign Up</button>

      <br />

      <span id="signup-error">{{errorMessage}}</span>

    </form>
  </div>

</div>