<h1>¡Regístrate!</h1>

<form action="">

    <label for="username">Nombre de usuario: </label>
    <input type="text" name="username">
    <br><br>
    <label for="email">Email: </label>
    <input type="email" name="email">
    <br><br>
    <label for="password">Nombre de usuario: </label>
    <input type="password" name="password">
    <br><br>

</form>