<body class="bg-malla">
</body>

<div id="profile-edit-content">

  <h1 id="profile-edit-title">Edit profile</h1>
  <br />

  <form action="/profile/edit" method="POST">

    <label for="username">Username: </label>
    <br />
    <input
      class="form-input"
      type="text"
      name="username"
      value="{{profile.username}}"
    />

    <br /><br />

    <label for="email">Email: </label>
    <br />
    <input
      class="form-input"
      type="email"
      name="email"
      value="{{profile.email}}"
    />

    <br /><br />

    <button class="send-button">Edit</button>

  </form>

  <div class="profile-edite-formpic">
    <form action="/profile/upload" method="POST" enctype="multipart/form-data">

      <label for="image">Picture:</label>
      <br />
      <input class="form-input" type="file" name="image" />
      <br /><br />
      <button class="send-button" type="submit">Add picture</button>
    </form>
  </div>

</div>