<h1>This is your profile!</h1>
<br>

<img src="{{profile.image}}" alt="Your profile pic" width="300px">
<p>Username: <strong>{{profile.username}}</strong> </p>
<p>Email: <strong>{{profile.email}}</strong> </p>
<br>

<a href="/profile/edit"><button>Edit profile</button></a>

<form action="/profile/delete" method="POST">
  <button>Delete</button>
</form>

<form action="/auth/logout" method="POST">
  <button>Log Out</button>
</form>

